<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config theme="testtheme" clientversion="4" scope="client" devicetype="all">
    <appid>maketheme</appid>
    <appname>主题开发</appname>
    <description></description>
    <version>1.0</version>
    <date>2013-12-15</date>
    <homepage src="res:page/login.xhtml"/>
    <faultconfig src=""/>
    <vendor url="" email=""></vendor>
    <access orientation="port" land="false" network="true" gps="true" camera="true" certificate="true"/>
    <icon selectedlogo="res:image/selectedlogo.png" main="res:image/main.png" logo="res:image/logo.png"/>
</config>
